<!DOCTYPE html>
<html>
<head>
  <title>Wcms</title>
  <%= stylesheet_link_tag    "wcms/application", media: "all" %>
  <%= javascript_include_tag "wcms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
