.panel.panel-default
  .panel-heading
    %h1.panel-title
      Editing Image_block
  .panel-body
    .row
      .col-md-12
        = render 'form'
  -#= link_to 'Show', @image_block
  -#\|
  -#= link_to 'Back', image_blocks_path