.panel.panel-default
  .panel-heading
    %h1.panel-title
      Editing Text Block
  .panel-body
    .row
      .col-md-12
        = render 'form'
  -#= link_to 'Show', @text_block
  -#\|
  -#= link_to 'Back', text_blocks_path